.page3d {
    box-shadow: 2px 2px 2px 0 rgb(0 0 0 / 0.05), -2px -2px 2px 0 rgb(0 0 0 / 0.05),
        -2px 2px 2px 0 rgb(0 0 0 / 0.05), 2px -2px 2px 0 rgb(0 0 0 / 0.05);
}

.pagebase {
    background-color: white;
    border: solid 1px rgb(206, 206, 206);
    border-radius: 6px;
    max-width: 216mm; /*216mm*/
    max-height: 279mm; /*279mm*/
    font-family: 'Times New Roman';
    padding: 2cm 2.5cm 2.5cm;
}

.pagebase p {
    text-indent: 1.25cm;
    text-align: justify;
}

.pagebase h1, .pagebase h2, .pagebase h3, .pagebase h4, .pagebase h5, .pagebase h6 {
    text-align: center;
    text-decoration: underline solid black 2px;
    margin-bottom: 8.5rem;
}
