.book .pagebase {
  font-family: Georgia, Cambria, "Times New Roman", serif;
  line-height: 1.625;
}

.book .pagebase p {
    text-indent: 1.25cm;
    text-align: justify;
}

.book .pagebase h1,.book  .pagebase h2,.book  .pagebase h3,.book  .pagebase h4,.book  .pagebase h5,.book  .pagebase h6 {
    text-align: center;
    text-decoration: underline solid black 2px;
    margin-bottom: 8.5rem;
}

.book *[dline] dial { color: var(--player-color, transparent); font-weight: bolder; }
